target
.DS_Store
demo
doc
.idea
TestAutomationFramework.iml
out
.iml
TechnologiesSupport/src/main/resources/drivers
TAF
*.log*
.gradle
build
gradle
gradlew
gradlew.bat
EyeAutomateSupport/EyeAutomateSupport.iml
*.iml
*.bak
dependency-reduced-pom.xml
